.pageContacto{
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 30px;
  }